*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{ 
    text-decoration: none;
    color: inherit;
}
.d-flex{
    display: flex;
}
.cont{
    width: 70%;
    margin: 0 auto;
}
.justify-content-beetwen{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.mt-50{
    margin-top: 50px;
}
.text-white{
    color: white;
}
.bg-black{
    background-color: black;
}
.bg-blu{
    background-color: dodgerblue;
}
.p-40px{
    padding: 40px;
}
.text-gray{
    color: gray;
}
.bg-gray{
    background-color: rgb(58, 57, 57);
}
.p-20px{
    padding: 20px;
}


ul li{
    list-style: none;
    text-decoration: none;
}
li{
    padding: 10px;
}
.logo-img{
    padding-top: 20px;
    width: 70px;
}
.list-main img{
    width: 50px;
}
.list-main li{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
footer{
    background-image: url(../public/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}